@use "../../theme/main" as *;

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $forthColor;
    padding-top: 5rem;
}

.container a{
    transition: all .3s ease;
    margin: 1rem 0;
    font-family: IRANSansFarsi !important;
}

.container h1{
    font-family: IRANSansFarsi !important;
    font-weight: bold;
}

.container a:hover{
    color: skyblue;
}