@use "../../theme/main" as *;

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 900px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.mainContainerDark{
    display: flex;
    flex-direction: column;
    min-height: 900px;
    width: 100%;
    height: 100%;
    background-color: $primaryColorDark;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.loadingContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loadingContainerDark {
    background-color: $primaryColorDark;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mainContainerDark div{
    color: $textColorDark2;
}

.alertContainer{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $thirdColor;
    border-radius: .5rem;
    height: 80px;
    margin: 1rem 1rem;
}

.alertContainer p {
    font-family: IRANSansFarsi !important;
}

.noAuth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.noAuth a{
    color: $redColor;
    transition: all ease .3s;
    margin-top: 1rem;
}

.noAuth a:hover{
   font-size: large;
}

.basketModelContainer{
    width: 90%;
    display: flex;
    background-color: $thirdColor;
    height: 40px;
    border-radius: 8px;
    margin: 3rem 0;
}

.basketModelContainerDark{
    width: 90%;
    display: flex;
    background-color: $secondaryColorDark;
    height: 40px;
    border-radius: 8px;
    margin: 3rem 0;
}

.basketModelContainerDark button{
    width: 50%;
    background-color: $secondaryColorDark;
    border: none;
    border-radius: 8px;
    color: $textColorDark2;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 8px;
}

.basketModelContainer button{
    width: 50%;
    background-color: $thirdColor;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 8px;
    outline: none;
}


.basketModelContainerDark button:focus{
    background-color: $primaryColorDark;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.basketModelContainer button:focus{
    background-color: $greenBtn;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.operationContainer{
    display: flex;
    width: 80%;
    height: 40px;
    justify-content: space-around;
    margin: 3rem 0;

}

.operationContainerDark{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 40px;
    margin: 3rem 0;
}

.operationContainerDark button{
    width: 40%;
    background-color: $secondaryColorDark;
    border: none;
    border-radius: 8px;
    color: $textColorDark2;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 8px;
}

.operationContainer button{
    width: 40%;
    background-color: $thirdColor;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 8px;

}

.operationContainer button:hover{
    background-color: $greenBtn;
}

.operationContainerDark button:hover{
    background-color: $primaryColorDark;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.alertsContainer{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    flex-direction: row-reverse;
}

.alertsContainerDark{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    flex-direction: row-reverse;
}

.basket{
    background-color: $thirdColor;
    border-radius: .5rem;
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s ease;
    margin: 1rem 1rem;
    position: relative;
}


.basketDark{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondaryColorDark;
    border-radius: .5rem;
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 1rem 1rem;
    position: relative
}

.basketDark:hover{
    background-color: $primaryColorDark;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.btnContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
}

.contentContainer {
    display: flex;
    width: 100%;
    height: 80%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    border-radius: .5rem;
}

.contentContainer:hover {
    background-color: $greenBtn;
    cursor: pointer;
}

.btnContainer button{
    color: black;
    margin: .5rem 0;
}

.btnContainer button:hover{
    background-color: $greenBtn;
}


@media(max-width:768px){
    .alertsContainerDark{
        width: 80%;
        justify-content: center;
    }
    
    .alertsContainer{
        width: 80%;
        justify-content: center;
    }
}

@media(max-width:450px){
    .alertsContainerDark{
        width: 100%;
        justify-content: center;
    }
    
    .alertsContainer{
        width: 100% !important;
        justify-content: center;
    }

    .basket{

        width: 100%;
        height: 400px;

    }
    .alertContainer {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
}