.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 900px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}

.mainContainerDark {
  display: flex;
  flex-direction: column;
  min-height: 900px;
  width: 100%;
  height: 100%;
  background-color: #131722;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loadingContainerDark {
  background-color: #131722;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mainContainerDark div {
  color: #ffffff;
}

.noAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.noAuth a {
  color: #FF7276;
  transition: all ease 0.3s;
  margin-top: 1rem;
}

.noAuth a:hover {
  font-size: large;
}

.basketModelContainer {
  width: 90%;
  display: flex;
  background-color: #C0E7E1;
  height: 40px;
  border-radius: 8px;
  margin: 3rem 0;
}

.basketModelContainerDark {
  width: 90%;
  display: flex;
  background-color: #2A2E39;
  height: 40px;
  border-radius: 8px;
  margin: 3rem 0;
}

.basketModelContainerDark button {
  width: 50%;
  background-color: #2A2E39;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.basketModelContainer button {
  width: 50%;
  background-color: #C0E7E1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.basketModelContainerDark button:focus {
  background-color: #131722;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.basketModelContainer button:focus {
  background-color: #45B6A3;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.operationContainer {
  display: flex;
  width: 80%;
  height: 40px;
  justify-content: space-around;
  margin: 3rem 0;
}

.operationContainerDark {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 40px;
  margin: 3rem 0;
}

.operationContainerDark button {
  width: 40%;
  background-color: #2A2E39;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.operationContainer button {
  width: 40%;
  background-color: #C0E7E1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.operationContainer button:hover {
  background-color: #45B6A3;
}

.operationContainerDark button:hover {
  background-color: #131722;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.basketsContainer {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  flex-direction: row-reverse;
}

.basketsContainerDark {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  flex-direction: row-reverse;
}

.basket {
  background-color: #C0E7E1;
  border-radius: 0.5rem;
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
  margin: 1rem 1rem;
  position: relative;
}

.basketDark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2A2E39;
  border-radius: 0.5rem;
  width: 200px;
  height: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem 1rem;
  position: relative;
}

.basketDark:hover {
  background-color: #131722;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: 80%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}

.contentContainer:hover {
  background-color: #45B6A3;
  cursor: pointer;
}

.btnContainer button {
  color: black;
  margin: 0.5rem 0;
}

.btnContainer button:hover {
  background-color: #45B6A3;
}

@media (max-width: 768px) {
  .basketsContainerDark {
    width: 80%;
    justify-content: center;
  }
  .basketsContainer {
    width: 80%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .basketsContainerDark {
    width: 80%;
    justify-content: center;
  }
  .basketsContainer {
    width: 80%;
    justify-content: center;
  }
  .basket {
    width: 100%;
    height: 400px;
  }
  .basketsContainer {
    width: 100%;
  }
  .noAuth h1 {
    font-size: medium !important;
  }
}

/*# sourceMappingURL=myBasket.module.css.map */
