@use "../../theme/main" as *;

.imageContainer{
    width: 60% !important;
}

.formContainer{
    width: 40% !important;
    background-color: rgb(2, 2, 42) !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.formBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin-top: 8rem;
}

.imageContainer span{
    width: 90% !important;
    height: 90% !important;
    animation: move 2s infinite;
}

@keyframes move{
    50%{
        margin-top: 1rem;
    }
    100%{
        margin-top: 0;
    }
}

.formBox p{
    color: $textColorDark2;
}

.formBox h1{
    color: $textColorDark2;
}

.formBox input{
    color: $textColorDark2;
}

.formBox label{
    color: $textColorDark2;

}

.formBox span{
    color: $textColorDark2;
}

.formBox input::placeholder{
    color: $textColorDark2;
}

.formBox input{
    width: 98%;
    border-radius: 8px;
    background-color: rgb(2, 2, 42);
    height: 40px;
    margin: 1rem 0;
    box-shadow:0px 0px 10px 1px $secondaryColorDark inset;
    border: none;
    padding: 8px;
    direction: rtl;
    text-align: right;
    transition: all .3s ease;

}

.formBox input:focus{
    background-color: #1976d2;
    width: 100%;
    outline: none;
    box-shadow:0px 0px 10px 1px $secondaryColorDark ;
}

.formBox input::placeholder{
    opacity: .5;
}

.innerFormContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.firstRowContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.firstRowContainer input{
    width: 40%;
}

.firstRowContainer input:focus{
    width: 43%;
}

.homeLink{
    justify-content: center;
}

.homeLink a{
   text-decoration: none;
   font-size: 1rem;
   margin-top: 1rem;
   color: $textColorDark2;
   transition: all .3s ease;
} 

.homeLink a:hover{
    color: #1976d2;
}


@media (max-width: 768px) {
    .imageContainer {
      display: none;
    }
    .formContainer {
      width: 100% !important;
    }
}