@use "../../../../theme/main" as *;

.container {
    display: flex;
    width: 10%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;    
}

.contentContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    border-radius: .5rem;
    overflow: auto;
}


.btn{
    width: 100% !important;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.modalContainerDark{
    width: 50vw;
    height: 80vh;
    background-color: $secondaryColorDark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    border-radius: .5rem;
    padding: 1rem;
    color: $textColorDark2;
    text-align: right;
    direction: rtl;
}

.modalContainer{
    width: 50vw;
    height: 90vh;
    background-color: $forthColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    border-radius: .5rem;
    padding: 1rem;
    text-align: right;
    direction: rtl;
}

.alertConditionModalContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendAlertContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

.modalContainer>h2{
    margin: 0;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 95%;
    background-color: $greenBtn;
    border-radius: .5rem;
   justify-content: space-around;
   
}

.menuContainer button {
    width: 33.5%;
    background-color: $greenBtn;
    border-radius: .5rem;
}

.menuContainer button:focus {
    background-color: $redColor;
    color: #000;
}

.menuContainer button:nth-last-child(1){
    border-radius: .5rem 0 0 .5rem !important;
}

.menuContainer button:nth-last-child(2){
    border-right: 1px solid $primaryColor;
    border-left: 1px solid $primaryColor;
    border-radius: 0px !important;
}

.menuContainer button:nth-last-child(3){
    border-radius: 0 .5rem .5rem 0 !important;
}

.closeIconContainer{
    align-self: flex-start;
    transition: all .3s ease;
}

.closeIconContainer svg:hover {
    transition: all .5s ease;

}

.closeIconContainer svg:hover {
    cursor: pointer;
    transform: rotate(-90deg);
}

.addSymbolContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    margin-top: 1rem;
}


.select {
    width: 100%;
   
}

.input{
    border-radius:.5rem ;
    border: none;
    background-color: $thirdColor;
    width: 100%;
    height: 40px;
    padding: .5rem;
    align-self: center;
}

.input::placeholder{
    color: $greenBtn;

}

.ulContainer{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    align-items: center;
    width: 10vw;
    height: 30vh;
    overflow: auto;
    background-color: $greenBtn;
}

.submitBtn {
    background: $redColor;
    background: linear-gradient(to right, $redColor 50%, $greenBtn 50%) left;
    background-size: 200%;
    transition: all .5s ease-out !important;
    width: 150px;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
}

.submitBtn:hover {
    background-position: right;
}

.datePickerInput {
    width: 24vw;
    height: 50px;
    background-color: $forthColor;
    border-radius: .3rem;
    border: .5px solid gray;
    padding: .5rem;
}

.symbolInput{
    width: 50%;
    height: 55px;
    border: 1px solid grey;
    background-color: inherit;
    border-radius: .3rem;
    padding: .5rem;
}

.showConditionContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.textArea {
    width: 50%;
    height: 55px;
    background-color: inherit;
    border-radius: .3rem;
    padding: .5rem;
    resize: none;
}

@media (max-width:425px) {
    .modalContainer {
        width: 95%;
    }
    
    .symbolInput {
        width: 90%;
    }

    .textArea {
        width: 90%;
    }

    .select {
        width: 90% !important;
    }
}