@use "../../theme/main" as *;

.mainContainerDark{
    background:$gradientDark;
    width: 100%;
    height: 700px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.mainContainer{
    background:$gradient;
    width: 100%;
    height: 700px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.mobileImageContainerDark{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobileImageContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobileImage{
    display: flex;
    width: 100%;
    height: 60%;
    margin-top: 2rem;
    justify-content: center;
    animation: upDown 2s infinite ;
    position: relative;
}

@keyframes upDown {
    50%{
        top: 20px;
    }
    100% {
        top:0
    }
}

.ShadowImage{

    animation: width 2s infinite ;
    opacity: .5;
}

@keyframes width {
    50%{
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
   
}
                                   

.secondContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    align-self: flex-start;
    height: 90%;
}

.QrCodeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: flex-start;
    height: 90%;
}

.first{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.first h3{
    font-weight: bold;
    position: relative;
    bottom: 30px;
    right: 6px;
    text-align: center;
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.downloadBtn{
    border: none;
    width: 100%;
    height: 56px;
    padding: 8px 24px;
    margin: 1rem 0;
    background-color:$greenBtn;
    border-radius: 6px;
    cursor: pointer;
    color: $textColorDark2;
    transition: all .2s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px , rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.aTag {
    width: 50%;
}

.downloadBtn:hover{
    box-shadow: none;
}

.linkOfdownload{
    width: 50%;
}

.h3tagDark{
    color: $textColorDark2;
}

.second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    flex-direction: column;
    width: 100%;
}

.QRBtnDark{
    box-shadow: 6.56706px 8.40545px 21.3333px rgba(51, 51, 51, 0.24), inset -2.04308px -2.61503px 3.31852px #CCCCCC, inset 2.04308px 2.61503px 3.31852px #FFFFFF;
    border-radius: 36px;    
    border: none;
    background: linear-gradient(142deg, #D6D6D6 0%, #FFFFFF 71.24%);            
    padding: .5rem;
}

.QRBtn{
    box-shadow: 6.56706px 8.40545px 21.3333px rgba(51, 51, 51, 0.24), inset -2.04308px -2.61503px 3.31852px #CCCCCC, inset 2.04308px 2.61503px 3.31852px #FFFFFF;
    border-radius: 2rem;    
    border: none;
    background: linear-gradient(142deg, #D6D6D6 0%, #FFFFFF 71.24%);            
    padding: .5rem;
    width: 190px;
    height: 190px;
    margin-top: 2rem;
}
.QRBtn img {
    border-radius: .5rem !important;
}


@media (max-width: 1500px) {
    .mobileImageContainer{
       display: none;
    }

    .mobileImageContainerDark{
        display: none;
     }

     .second{
        width: 100%;
    }

    .QrCodeContainer {
        width: 100%;
        align-self: center;
    }
   
}

@media (max-width: 768px) {
    .second{
        width: 100%;
    }

    .QrCodeContainer {
        width: 100%;
        align-self: center;
    }

    // .mobileImageContainer{
    //     display: block ;
    //     width: 100%;
    //  }

     
    // .mobileImage{
    //     animation: upDown 2s infinite ;
    //     position: relative;
    // }
}

@media (max-width: 550px) {
    .second{
        width: 100%;
    }

    .third{
        width: 300px;
    }

    .QrCodeContainer{
        width: 100%;
     }
 
     .aTag {
         width: 80%;
     }
   }

@media (max-width: 450px) {
    .mobileImageContainer{
       display: none;
    }

    .mobileImageContainerDark{
        display: none;
    }
    .third{
        width: 300px;
    }

    .secondContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        align-self: flex-start;
        height: 90%;
    }

    .second{
        width: 100%;
    }

    .QrCodeContainer{
       width: 100%;
    }

    .QrCodeContainer h1 {
        text-align: center;
    }

    .aTag {
        width: 80%;
    }
}

