.openModalBtn {
  background-color: #45B6A3 !important;
  border-radius: 0.5rem;
  margin: 0 0.5rem !important;
  width: 80px;
  height: 100px;
  align-self: flex-start !important;
}

.modalContainerDark {
  width: 400px;
  height: 40vh;
  background-color: #2A2E39;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #ffffff;
  text-align: right;
  direction: rtl;
}

.modalContainer {
  width: 400px;
  height: 40vh;
  background-color: #E5F4EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: right;
  direction: rtl;
}

.modalContainer > h2 {
  margin: 0 !important;
}

.container input::placeholder {
  margin-right: 5px;
}

.inputDark {
  border-radius: 0.5rem;
  border: none;
  background-color: #131722;
  width: 50%;
  height: 55px;
  border: 1px solid grey;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.inputDark::placeholder {
  color: #2A2E39;
}

.input {
  width: 60%;
  height: 55px;
  border: 1px solid grey;
  background-color: inherit;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: IRANSansFarsi !important;
}

.radioInputContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.valueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.container {
  width: 90%;
}

.conditionContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  overflow: auto;
  justify-content: center;
}

.showConditionContainer {
  width: 90px;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0 0.2rem;
}

.showConditionContainer p {
  margin: 0.2rem 0 !important;
  font-size: small;
  font-family: IRANSansFarsi !important;
}

.btnContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  height: 20%;
}

.btnContainerDark {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  height: 30%;
}

.btnContainer button:first-child {
  border: none;
  background-color: #45B6A3;
  width: 100px;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.btnContainer button:first-child:hover {
  background-color: #C0E7E1;
}

.btnContainer button:last-child {
  border: none;
  background-color: #E5F4EF;
  width: 100px;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.btnContainer button:last-child:hover {
  background-color: #45B6A3;
}

.btnContainerDark button:first-child {
  border: none;
  background-color: #131722;
  color: #ffffff;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainerDark button:first-child:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.btnContainerDark button:last-child {
  border: none;
  background-color: #2A2E39;
  color: #ffffff;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainerDark button:last-child:hover {
  background-color: #131722;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

@media (max-width: 450px) {
  .modalContainer {
    width: 95%;
  }
  .modalContainerDark {
    width: 95%;
  }
  .radioInputContainer label {
    font-size: small;
  }
  .radioInputContainerDark label {
    font-size: small;
  }
  .select {
    width: 90% !important;
  }
  .valueContainer {
    flex-direction: column;
    width: 90%;
  }
  .input {
    width: 100%;
  }
}

/*# sourceMappingURL=alertCondition.module.css.map */
