

.container{
    width: 100%;
    padding-top: 3rem;
    height: 70vh;
    position: relative;
}

.imgContainer{
    width: 100%;
    height: 60vh;
    position: relative;
}

.bannerName {
    position:absolute;
    top: 10%;
    right: 5%;
    z-index: 99 !important;
    font-family: IRANSansFarsi !important;
    backdrop-filter:blur(50px);
    border-radius: .5rem;
}

.bannerDes {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 99 !important;
    font-family: IRANSansFarsi !important;
    backdrop-filter:blur(50px);
    border-radius: .5rem;
}

.carousel{
    height:400px; 
}

// .imgContainer img{
//     width: 100% !important;
//     display: block !important;
// }

// .imgContainer span{
//     width: 100% !important;
//     height: 400px !important;
    
// }

@media (max-width:768px){






}
