
@use "../../theme/main" as * ;

.footer{
    background-color: $secondaryColor;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footerDark{
    background-color: $secondaryColorDark;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.mainContainerDark{
   
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.mainContainer{
   
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.firstContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 80%;
    justify-content: space-evenly;
}

.firstContainerDark{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 80%;
    justify-content: space-evenly;
}

.firstContainerDark p {
    color: $forthColor;
    direction: rtl;
    text-align: right;
    margin: 0 !important;
}

.firstContainer p{
    color: $thirdColorDark ;
    direction: rtl;
    text-align: right;
    margin: 0 !important;
}

.logosContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
}

.tradersPlusLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.secondContainer{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}


.socialMedias{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socialMedias a {
    margin: 0 0 0 1rem;
}

.secondMainContainer{
    display: flex;
  
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;

}

.secondMainContainerDark{
    display: flex;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.secondMainContainerDark p{
    color: $forthColor;
    margin: 0 !important;
}

.ptagContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
}

.hr{
    width: 80%;
    color: $hr;
}

.endContainer{
    height: 30%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.endContainer p{
    color:$hr;
    font-size: small;
}

@media (max-width: 768px) {
 .ptagContainer:nth-child(1){
    display: none;
 }
 .ptagContainer:nth-child(2){
    display: none;
 }

 .secondContainer{
    width: 100%;
    margin-right: 3rem;
    justify-content: center;
 }

 .logosContainer{
    width: 100%;
    margin-right: 3rem;
    justify-content: center;
 }
 .logosContainer p{
    text-align: center;
 }
}

@media (max-width: 480px) {
    .ptagContainer:nth-child(1){
       display: none;
    }
    .ptagContainer:nth-child(2){
       display: none;
    }
   
    .secondContainer{
       width: 100%;
       margin-right: 3rem;
       justify-content: center;
    }
   
    .logosContainer{
       width: 100%;
       margin-right: 3rem;
       justify-content: center;
    }
    .logosContainer p{
       text-align: center;
    }

    .firstContainerDark{
        width: 100%;
        height: 800px;
    }

    .firstContainer{
        width: 100%;
        height: 800px;
    }

    .firstContainerDark section{
        margin: 0 !important;
        padding: 0 !important;
    }

    
    .firstContainer section{
        margin: 0 !important;
        padding: 0 !important;
    }

    .socialMedias{
        justify-content: center;
    }

    .secondMainContainerDark{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .secondMainContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .ptagContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .mainContainerDark{
        display: flex;
        flex-direction: column;
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
    }
   }