$primaryColor:#ffffff;
$secondaryColor:#F4F6FA;
$thirdColor:#C0E7E1;
$forthColor:#E5F4EF;
$greenColor:#3CD4A0;
$selectOptionColor:#00A97F;


$primaryColorDark:#131722;
$secondaryColorDark:#2A2E39;
$thirdColorDark:#000;
$textColorDark:#D1D4DC;
$textColorDark2:#ffffff;
$textColorDark3:#E1E1E3;             

//button
$greenBtn:#45B6A3;
$textColorBtn:#ffffff;
$redColor:#FF7276;

//chart
$chartRedLineColor:#FF4A68;
$chartGreenLineColor:#1A8D5F;

//hr
$hr:#ADADAD;

//gradiant
$gradientDark: linear-gradient(248.66deg, #C31432 0%, #240B36 100%);
$gradient:linear-gradient(248.66deg, #FFF1F1 0%, #E9F8FB 100%); 

