@use "../theme/main" as *;

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $forthColor;
    padding-top: 5rem;
    position: relative;
}

.container span {
    border-radius: 1rem;
}

.container a{
    transition: all .3s ease;
    margin: 1rem 0;
}
.container a:hover{
    color: $redColor;
}

@media (max-width: 320px) {
    .container{
        position: relative;
    }
    .container h1 {
        font-size: x-large;
    }
}