
@use "../../../theme/main" as *;

.btn{
    width: 100% !important;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.modalContainerDark{
    width: 400px;
    height: 300px;
    background-color: $secondaryColorDark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    border-radius: .5rem;
    padding: 1rem;
    color: $textColorDark2;
    text-align: right;
    direction: rtl;

}

.modalContainer{
    width: 400px;
    height: 300px;
    background-color: $forthColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    border-radius: .5rem;
    padding: 1rem;
    text-align: right;
    direction: rtl;

}

.container input::placeholder{
    margin-right: 5px;
}

.inputDark{
    border-radius:.5rem ;
    border: none;
    background-color: $primaryColorDark;
    width: 50%;
    height: 40px;
    padding: .5rem;
    align-self: center;
}


.inputDark::placeholder{
    color: $secondaryColorDark;
}


.input{
    border-radius:.5rem ;
    border: none;
    background-color: $greenBtn;
    width: 60%;
    height: 40px;
    padding: .5rem;
    align-self: center;
}

.input::placeholder{
    color: $thirdColor;

}


.btnContainer{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    height: 30%;
}

.btnContainerDark{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    height: 30%;
}

.btnContainer button:first-child{
    border: none;
    background-color: $greenBtn;
    width: 100px;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.btnContainer button:first-child:hover{
    background-color: $thirdColor;
}

.btnContainer button:last-child{
    border: none;
    background-color: $forthColor;
    width: 100px;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.btnContainer button:last-child:hover{
    background-color: $greenBtn;
}


.btnContainerDark button:first-child{
    border: none;
    background-color: $primaryColorDark;
    color: $textColorDark2;
    width: 100px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainerDark button:first-child:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.btnContainerDark button:last-child{
    border: none;
    background-color: $secondaryColorDark;
    color: $textColorDark2;
    width: 100px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainerDark button:last-child:hover{
    background-color: $primaryColorDark;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}


@media (max-width:450px){
    .modalContainer{
        width: 300px;
    }

    .modalContainerDark{
        width: 300px;
    }

    .input{
        width: 80%;
    }

    .inputDark{
        width: 80%;
    }
}