@use "../../theme/main" as *;

.mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color:$thirdColor;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    min-height: 100vh;
}

.noPlan {
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 350px;
    margin: 1rem;
    direction: rtl;
    transition: all .3s ease;
    background-color: $forthColor;
    padding: 1rem;
}

// .card:hover {
//     background-color: $primaryColor;
//     cursor: pointer;
// }

.card button {
    background-color: $redColor ;
    margin: .5rem 0;
    padding: .5rem;
    vertical-align: middle;
}

.card button:hover {
    background-color: $forthColor;
    color: $redColor;
}