html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

#__next{
  min-height: 100%;
  
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IRANSans";
  src: url("../public/fonts/irainsansmobile_medium_e.ttf") format("truetype");
  
  font-weight: normal;
  font-size: normal;
} 

@font-face {
  font-family: "IRANSansFarsi";
  src: url("../public/fonts/irainsansmobile_medium_f.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
} 

*{
    font-family: IRANSans !important;
    font-weight: 400;
}


::-webkit-scrollbar {
  width: 10px;
  border-radius:20px
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;  
    border-radius:20px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#laodingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
